<app-auth-menu></app-auth-menu>
<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Welcome back!</h3>
                <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="userName" placeholder="Username" name="userName" required="required" [(ngModel)]="credentials.userName" #userName="ngModel" >
                    <label for="userName">Username</label>
                    <div class="text-danger" *ngIf="userName.errors?.['required'] && userName.touched " >User Name cannot be empty</div>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" required="required" [(ngModel)]="credentials.password" #password="ngModel" >
                    <label for="password">Password</label>
                    <div class="text-danger" *ngIf="password.errors?.['required'] && password.touched " >Password cannot be empty</div>
                  </div>
                  <div class="d-grid">
                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit" [disabled]="!loginForm.valid" >Sign in</button>
                  </div>
                  <div class="text-danger">
                    {{loginError}}
                  </div>
                  <div class="text-center">
                    <p>Not a member? <a href="#!">Register</a></p>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>