<app-admin-menu></app-admin-menu>
<header class="masthead">
    <div class="container col-md-12">
        <div class="row h-100">
            <div class="col-12 mt-5">
                <div class="card border-0 shadow my-5">
                    <div class="card-body p-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-center">Trainer Details</h3>
                        <div class="container">
                            <table class="table align-middle table-hover table-bordered">
                                <thead class="bg-light" style="text-align: center;">
                                    <tr>
                                        <th>Trainer Id</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Contact Number</th>
                                        <th>Email Id</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align: center;">
                                    <tr *ngFor="let user of users">
                                        <td>{{user.userId}}</td>
                                        <td>{{user.firstName}}</td>
                                        <td>{{user.lastName}}</td>
                                        <td>{{user.contactNumber}}</td>
                                        <td>{{user.emailId}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>